@font-face {
    font-family: Roboto;
    src: url("/assets/fonts/Roboto-Regular.ttf"),url("/assets/fonts/Roboto-Bold.ttf");
    font-weight: normal, bold;
}
:root{
    --tomato: hsl(4, 100%, 67%);
    --darkGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey:hsl(231, 7%, 60%);
    --white:hsl(0, 0%, 100%);
}
body{
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Roboto;
}
.image-section{
    height: 295px;
    background-image: url("../assets/images/illustration-sign-up-mobile.svg");
    background-size: cover;
    border-bottom-right-radius: 20px;
}

.signup-section{
    padding-left: 1.5rem;
}

h1{
    font-weight: 800;
    font-size: 2.5rem;
    line-height:1;
}
p{
    line-height: 1.5;
}
ul{
    padding-left: 1.5rem;
}
li{
    list-style: none;
    position: relative;
    padding-right: 1.5rem;
    padding-bottom: .5rem;
    line-height: 1.5;
}

li::before{
    content: url("/assets/images/icon-list.svg");
    position: absolute;
    left: -2rem;
    top: -.9rem;
    font-size: 2rem;
}

label{
    display: inline-block;
    font-size: .7rem;
    font-weight: 800;
    padding-bottom: .5rem;
}

input{
    width: 84%;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid var(--grey);
    margin-bottom: 1.2rem;
    text-indent: 1rem;
}
input:focus{
    border: 2px solid var(--charcoalGrey);
    outline: 0;
}
button{
    width: 95%;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid #000;
    margin-bottom: 2rem;
    background-color: var(--darkGrey);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

button:hover{
    background-color: var(--tomato);
}

span{
    font-weight: 600;
}

.subscribe{
    padding-left: 1.5rem;
}
.sub-heading{
    margin-bottom: 4.4rem;
}
.sub-heading h1{
    padding-top: 1rem;
}
.sub-heading p{
    padding-bottom: 1rem;
    padding-right: 1.5rem;
}
img{
    width:4rem;
}
.subscribe button{
    position: relative;
    top: 9rem;
    width: 91%;
}

.secret{
    display: none;
}